<!DOCTYPE html>
<html>
<head>
    <title>Job Board</title>
</head>
<body>
    <div class="container">
        <header>
            <a href="/Jobs">Home</a>
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>
